<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/5e4bcf93eb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>        
        <div class="header1">
            <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" class="logo">
            <span id="buscadorWidth"><input type="Buscar" value="Buscar productos, marcas" id="buscador"><i class="fa-solid fa-magnifying-glass" id="logoBuscador"></i></span>             
            <div class="subtitulo">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <span>Comprá en cuotas y sin tarjeta de crédito</span>
            </div>            
        </div>
        <div class="burgermenu">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="opcionesMenu">
        <div class="lista">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </div>
        <div class="lista">
            <li><a href="/register">Crea tu cuenta <i class="fa-solid fa-address-card"></i></a></li>
            <li><a href="">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
        </div>  
    </div>              
    </header>
    <img src="/images/img-home-banner.jpg" alt="img-home-banner" class="banner">
    <main>
        <h3 class="titulo">Basado en tu ultima visita</h3>
        <section class="disposicion">            
            <article class="articulo">
                <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" class="imgProducto">
                <div class="iconoEnvioPosicion">
                    <i class="fa-solid fa-truck iconoEnvio"></i>
                </div>
                <div class="descripcion">
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% Off</p>
                    <h5>Cafetera Moulinex</h5>
                </div>
            </article>
            <article class="articulo">
                <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" class="imgProducto">
                <div class="iconoEnvioPosicion">
                    <i class="fa-solid fa-truck iconoEnvio"></i>
                </div>
                <div class="descripcion">
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% Off</p>
                    <h5>Macbook Pro 2019</h5>
                </div>
            </article>
            <article class="articulo">
                <img src="/images/img-tv-samsung-smart.jpg" alt="img-smart-tv-samsung" class="imgProducto">
                <div class="iconoEnvioPosicion">
                    <i class="fa-solid fa-truck iconoEnvio"></i>
                </div>
                <div class="descripcion">
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% Off</p>
                    <h5>Smart Tv Samsung 43"</h5>
                </div>
            </article>
            <article class="articulo">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" class="imgProducto">
                <div class="iconoEnvioPosicion">
                    <i class="fa-solid fa-truck iconoEnvio"></i>
                </div>
                <div class="descripcion">
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% Off</p>
                    <h5>Smartphone Samsung</h5>
                </div>
            </article>
        </section>
        <h3 class="titulo">Seccion de Ofertas</h3>
        <section class="disposicion">            
            <article class="articulo">
                <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex" class="imgProducto">
                <div class="iconoEnvioPosicion">
                    <i class="fa-solid fa-truck iconoEnvio"></i>
                </div>
                <div class="descripcion">
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% Off</p>
                    <h5>Cafetera Moulinex</h5>
                </div>
            </article>
            <article class="articulo">
                <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019" class="imgProducto">
                <div class="iconoEnvioPosicion">
                    <i class="fa-solid fa-truck iconoEnvio"></i>
                </div>
                <div class="descripcion">
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% Off</p>
                    <h5>Macbook Pro 2019</h5>
                </div>
            </article>
            <article class="articulo">
                <img src="/images/img-tv-samsung-smart.jpg" alt="img-smart-tv-samsung" class="imgProducto">
                <div class="iconoEnvioPosicion">
                    <i class="fa-solid fa-truck iconoEnvio"></i>
                </div>
                <div class="descripcion">
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% Off</p>
                    <h5>Smart Tv Samsung 43"</h5>
                </div>
            </article>
            <article class="articulo">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10" class="imgProducto">
                <div class="iconoEnvioPosicion">
                    <i class="fa-solid fa-truck iconoEnvio"></i>
                </div>
                <div class="descripcion">
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% Off</p>
                    <h5>Smartphone Samsung</h5>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <div class="info">
            <i class="fa-solid fa-credit-card iconos"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
            </p>
        </div>
        <div class="info">
            <i class="fa-solid fa-gift iconos"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.
            </p>
        </div>
        <div class="info">
            <i class="fa-solid fa-user-shield iconos"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.
            </p> 
        </div>
     
    </footer>
    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    
</body>
</html>