<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/5e4bcf93eb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarme</title>
</head>
<body>
    <header>        
        <div class="header1">
            <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre" class="logo">
            <span id="buscadorWidth"><input type="Buscar" value="Buscar productos, marcas" id="buscador"><i class="fa-solid fa-magnifying-glass" id="logoBuscador"></i></span>             
            <div class="subtitulo">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <span>Comprá en cuotas y sin tarjeta de crédito</span>
            </div>            
        </div>
        <div class="burgermenu">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="opcionesMenu">
        <div class="lista">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </div>
        <div class="lista">
            <li><a href="">Crea tu cuenta <i class="fa-solid fa-address-card"></i></a></li>
            <li><a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a></li>
        </div>  
    </div>              
    </header>   
    <main>
        <form action="/" method="POST">
            <div>
                <h2>Registrarme</h2>
                <label for="register">
                    <input type="text" id="name" name="register" placeholder="  Nombre y apellido" class="textos" minlength="3">
                </label>
                <label for="register">
                    <input type="text" id="user" name="register" placeholder="  Nombre de usuario" class="textos" minlength="5">
                </label>
                <label for="register">
                    <input type="email" id="email" name="register" placeholder="  Email" class="textos">
                </label>
            </div>
            <div>
                <h3>Fecha de nacimiento</h3>
                <label for="register">
                    <input type="date" id="birth" name="register" class="textos">
                </label>
                <label for="register">
                    <input type="text" id="address" name="register" placeholder="  Domicilio" class="textos" minlength="5">
                </label>
            </div>
            <div>
                <h3>Perfil de usuario</h3>
                <label for="register" class="textos">
                    <input type="radio" id="buyer" name="register" value="Comprador">
                    Comprador
                </label>
                <label for="register"  class="textos">
                    <input type="radio" id="seller" name="register" value="Vendedor">
                    Vendedor
                </label>                
            </div>
            <div>
                <h3>Intereses</h3>
                
                <label for="register">
                    <input type="checkbox" name="register" id="electro" value="electro" class="listas">
                    Electro
                </label>
                <br>
                <label for="register">
                    <input type="checkbox" name="register" id="fashion" value="fashion" class="listas">
                    Moda
                </label>
                <br>
                <label for="register">
                    <input type="checkbox" name="register" id="home" value="home" class="listas">
                    Hogar
                </label>
                <br>
                <label for="register">
                    <input type="checkbox" name="register" id="toys" value="toys" class="listas">
                    Juguetes
                </label>
                <br>
                <label for="register">
                    <input type="checkbox" name="register" id="healthy" value="healthy" class="listas">
                    Vida sana
                </label>
            
            </div>
            <div>
                <h3>Foto de usuario</h3>
                <input type="file" name="register" accept=".jpg">
            </div>
            <div>
                <h3>Contraseña</h3>
                <label for="register">
                    <input type="password" name="register" id="password" placeholder="  Contraseña" class="textos" minlength="8">
                </label>
                
                <label for="register">
                    <input type="password" name="register" id="confirm_password" placeholder="  Repetir contraseña" class="textos" minlength="8">
                </label>
            </div>
            <div>
                <button type="submit" class="botones" onclick="location.href='/'">Enviar</button>
                <button type="reset" class="botones">Borrar</button>
            </div>           
            
        </form>
        
    </main>
    <footer>
        <div class="info">
            <i class="fa-solid fa-credit-card iconos"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
            </p>
        </div>
        <div class="info">
            <i class="fa-solid fa-gift iconos"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.
            </p>
        </div>
        <div class="info">
            <i class="fa-solid fa-user-shield iconos"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.
            </p> 
        </div>
     
    </footer>
    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    
</body>
</html>