:root {
    --Amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris_oscuro: #666;
    --Gris_claro: #ebebeb;
    --Verde: #39b54a;    
}

main{
    background-color: var(--Gris_claro);
    width: 90%;
    padding: 15px;
    margin: auto;
    position: relative;
}

.titulo{
    font-weight: 700;
    color: var(--Gris_oscuro);
    position: relative;
    left: 30px ;
}

.imgProducto{
    width: 100%;
    height: 100%;
    border-bottom: solid 1px var(--Gris_claro);

}

.disposicion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.articulo{
    background-color: white;      
    margin: auto;  
    width: 80%;
    margin-bottom: 10px;
    
}

.descuento{
    color: var(--Verde);
    font-weight: 600;
    font-size: 18px;
    margin-top: 2px;
    position: relative;
    left: 25px;
}

.precio{
    color: black;
    font-weight: 600;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 30%;
}

.articulo h5{
    color: var(--Gris_oscuro);
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
}

.iconoEnvio{
    color: var(--Verde);
    border: solid 1px var(--Verde);
    border-radius: 28px;
    padding: 2.5%;
    background-color: white;
}


.iconoEnvioPosicion{
   display: flex;
   flex-direction: row-reverse;
   margin-right: 10px;
   position: relative;
   top: -17px;
  
}

.iconoEnvio:hover{
    transform: rotate(270deg);
}

.descripcion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-left: 15px;
    transition: all 450ms;

}


@media(min-width:361px){
    .articulo{
        width: 40%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

}

@media(min-width:769px){
    .articulo{
        width: 20%;
    }
    .descripcion{
        display: none;
    }
    article:hover .descripcion{
        display: flex;
    }
        
}


